.maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

u{
  text-decoration: none;
  color: #FE8AFE;
}

.homebutton {
  position: relative;
}

.homebuttonLink {
  display: block;
  align-items: center;
  justify-content: center;
}
.levelheader {
  display: flex;
  justify-content: space-between;
  padding: 0px 73px;
}

.homebutton {
  display: inline;
}

.questionbutton {
  display: inline;
  margin-right: 72px;
}

.levelsbutton {
  display: inline;
}

.homeconteiner {
  display: flex;
  align-items: center;
}

.questionsettings {
  display: flex;
  align-items: center;
}
.numoflevel {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 0px;
  font-family: Tektur;
  font-size: 110px;
  font-weight: 400;
  line-height: 143px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  text-align: center;
}

.descroflevel {
  margin-top: 0px;
  font-family: Tektur;
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.containername {
  margin: 0;
  font-family: Tektur;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #FE8AFE;
}

.container1 {
  display: flex;
  flex-direction: column;
  width: 362px;
  min-height: 275px;
  gap: 32px;
  background-color: #330033;
  border: 2px solid #FE8AFE;
  border-radius: 0 10px 10px 0;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 15px;
}

.container2 {
  width: 383.06px;
  /* background-image: url('/src/assets/encoder1.svg'); */
  background-repeat: no-repeat;
  position: relative;
  /* align-items: center; */
  display: flex;

}

.container22 {
  margin-left: 129px;
  width: 383.06px;
  /* background-image: url('/src/assets/encoder1.svg'); */
  background-repeat: no-repeat;
  position: relative;
  /* align-items: center; */
  display: flex;

}

.invblocksgroup {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-top: 25px;
  /* margin-left: 100px;
  margin-top: 50px; */
}

.invisibleblock1 {
  margin-top: 190px;
  margin-left: 5px;
  width: 29px;
  height: 29px;
}

.invisibleblock3 {
  margin-top: 55px;
  margin-left: 88px;
  width: 73px;
  height: 29px;
}

.invisibleblock2 {
  margin-top: 210px;
  margin-left: 5px;
}
.invisibleblock2 {
  width: 103px;
  height: 52px;
}
.container3 {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.container3_1{
  padding: 15px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 540px;
  gap: 40px;
  border: 2px solid #FE8AFE;
  border-radius: 10px;
  opacity: 0px;
  margin-left: 79px;
}

.textstyle {
  max-width: 103px;
  gap: 20px;
  font-family: Tektur;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: white;
}

.evenBlock {
  width: 185px;
  height: 41px;
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: #1F0232;
  margin-bottom: 9px;
}

.oddBlock {
  border: 3px solid #fff;
  background-color: #1F0232;
  width: 185px;
  height: 77px;
  border-radius: 8px;
  margin-bottom: 35px;
}


.baseBlock {
  box-sizing: border-box;
  width: 273px;
  max-width: 273px;
  border: 3px solid #fff;
  background-color: #1F0232;
  border-radius: 15px;
  height: 52px;
  margin-bottom: 60px;
}

.toLevel2 {
  text-decoration: none;
  display: inline-block;
  background-color: #330033;
  border: 3px solid #FE8AFE;
  color: #fff;
  padding: 5px 30px;
  transform: skew(-25deg);
  font-family: Tektur;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
}

.toLevel2 span {
  display: inline-block;
  transform: skew(25deg)
}

.text1 {
  margin-top: 0px;
  font-family: Tektur;
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  width: 200px;
}

.text2 {
  margin-left: 220px;
  margin-top: 0px;
  font-family: Tektur;
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  width: 400px;
}

.textname {
  margin-top: 70px;
  font-family: Tektur;
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.textnames {
  margin-top: 70px;
}

.answercontainer {
  display: flex;
  flex-direction: row;
}

.nameanswercontainer {
  margin-left: 90px;
  display: flex;
  flex-direction: row;
}

.direction {
  display: flex;
  flex-direction: row;
}

.direction2 {
  display: flex;
  flex-direction: row;
}

.direction2 {
  margin-left: 90px;
  margin-top: 160px;
}

.checkbutton {
  margin-left: 150px;
}

.messagegroup {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.message {
  margin-right: 40px;
}

.messagetextaround {
  margin-top: 46px;
  display: flex;
  justify-content: center;
  width: 396px;
  height: 315.5px;
  background-image: url('/src/assets/message.svg');
}

.messagetext {
  margin-top: 50px;
  width: 344px;
  display: inline-block;
  margin-bottom: 0px;
  font-family: Tektur;
  font-size: 30px;
  font-weight: 400;
  line-height: 49px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  text-align: center;
}