.maincontainer {
  display: flex;
  flex-direction: row;
  margin-left: 381px;
}

.numoflevel {
  font-family: Tektur;
  font-size: 60px;
  font-weight: 400;
  line-height: 78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}

.containername {
  font-family: Tektur;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #FE8AFE;
}

.container1 {
  width: 168px;
  height: 367px;
  top: 191px;
  left: 58px;
  gap: 0px;
  border: 2px solid #FE8AFE;
  border-radius: 10px;
  opacity: 0px;
}

.container2 {
  margin-left: 62px;
  position: relative;
  align-items: center;
}

.container3{
  width: 155px;
  height: 298px;
  top: 191px;
  left: 580px;
  gap: 0px;
  border: 2px solid #FE8AFE;
  border-radius: 10px;
  opacity: 0px;
  margin-left: 79px;
}

.emptyblockcolor {
  background-color: #1F0232;
  border: 2px solid white;
}

.color2 {
  background-color: #CD00A0;
}

.textstyle {
  font-family: Tektur;
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: white;
}
.block1 {
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  width: 103px;
  height: 23px;
  top: 210px;
  left: 365px;

}

.direction1 {
  margin-bottom: 7px;
}

.block2 {
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  width: 103px;
  height: 43px;
  top: 240px;
  left: 365px;
}

.direction2 {
  margin-bottom: 23px;
}

.block3 {
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  width: 103px;
  height: 23px;
  top: 210px;
  left: 365px;
}
  
.block4 {
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  width: 103px;
  height: 43px;
  top: 240px;
  left: 365px;
}

.direction3 {
  margin-bottom: 95px;
}

.block5 {
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
  width: 103px;
  height: 43px;
  top: 240px;
  left: 365px;
}

.draggable {
  z-index: 1;
  cursor: grab;
  transition-property: scale, opacity;
  transition-duration: 0.2s;
  touch-action: none;
}

.draggable.is-dragging {
  cursor: grabbing;
  opacity: 0.5;
  scale: 1.05;
}
