.dropped {
    justify-content: center;
    display: flex;
    max-height: 100px;
    max-width: 400px;
    border-radius: 4px;
    padding: 6px 10px;
    font-family: Tektur;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-wrap: wrap;
    text-decoration-skip-ink: none;
    color: white;
  }