@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
body {
  background-image: url("/src/assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Tektur';

}

.homescreen {
  align-items: center;
}

.logo {
  font-family: "Zen Tokyo Zoo" !important;
  color: #FE8AFE;
}

.emptycontainer1 {
  background-color: #1F0232;
  width: 103px;
  height: 23px;
  top: 210px;
  left: 365px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;

}
/* .togame {
  
} */