@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

/* body {
  background-image: url("/src/assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

body {
  background-image: url('/src/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
